@font-face {
    font-family: "Kollektif";
    src: url('font/Kollektif.ttf');
}
   
* {
    box-sizing: border-box;
    font-family: 'Kollektif', monospace;
    font-size: 3vh;
    color:white;
  }

html {
    font-size: 100%;   
} 

body {
    background-color: transparent   
}

a{
    color: white;
}

a:hover {
    color: rgb(0, 0, 0);
}
  
.container-fluid {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.opencall {
    color: rgb(0, 255, 89);
    text-decoration: none;
    font-size: 5vh;
}

#threejs {
    position:relative;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }