@font-face {
  font-family: 'ginto-regular';
  src: url(../fonts/ABCGintoNord-Regular.woff);
}

@font-face {
  font-family: 'ginto-regular-it';
  src: url(../fonts/ABCGintoNord-RegularIta.woff);
}

@font-face {
  font-family: 'ginto-bold';
  src: url(../fonts/ABCGintoNord-Black.woff);
}

@font-face {
  font-family: 'ginto-bold-it';
  src: url(../fonts/ABCGintoNord-BlackIta.woff);
}

/* resetting
---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* transition: 0.3s */
}

/* base styles
---------------------------------------------------- */

body {
  background: rgba(230, 230, 230);
}


/* Mobiles */
body, h1, h2, h3, h4, p, span, a, li, ul {
  color: #FFFF00;
  font-family: 'ginto-regular', Times;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

/* iPad and bigger */
@media (min-width: 768px) {
  body, h1, h2, h3, h4, p, span, a, li, ul {
    color: #FFFF00;
    font-family: 'ginto-regular', Times;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
  }
}

/* typography
---------------------------------------------------- */

/* Mobiles */
.type-l, h1, h2 {
  font-family: 'ginto-bold', Helvetica;
  font-weight: 800;
  line-height: 28px;
  font-size: 30px;
  letter-spacing: 0.75px;

}

.type-s {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}


/* iPad and bigger */
@media (min-width: 768px) {
  .type-l, h1, h2 {
    font-family: 'ginto-bold', Helvetica;
    font-weight: 700;
    line-height: 60px;
    font-size: 60px;
  }

  .type-s {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
  }

}

.type-center {
  text-align: center;
}

a {
  /* text-shadow: rgb(84, 61, 152) 3px 3px 0px; */
  color: #33f;
  font-family: 'ginto-bold', Helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* colors
---------------------------------------------------- */
.purple {
  color: rgb(144, 121, 214)
}

.yellow {
  color: yellow
}

/* header
---------------------------------------------------- */

.header {
  margin-top: 15px;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header h1 {
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .header {
    margin-top: 48px;
  }
}

.header h1, .header h2, .header a {
  color: rgba(144, 121, 214, 1);

}

/* footer
---------------------------------------------------- */
.footer {
  position: fixed;
  bottom: 16px;
  left: 8px;
  right: 8px;
}

.footer p {
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

@media (min-width: 768px) {
  .footer p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
}

.footer a {
  text-decoration: underline;
}

.footer a, .footer p {
  font-size: 12px;
  line-height: 16px;
  color: rgb(144, 121, 214);
  letter-spacing: 0;
}

/* sketch container
---------------------------------------------------- */

#sketch-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* home page 
---------------------------------------------------- */

.panel {
  position: relative;
  z-index: 10;
  margin-top: 80vh;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 75px;
  padding: 15px 18px;
  background-color: #EFEFEF;
  background: rgba(144, 121, 214, 0.90);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .panel {
    margin-top: 80vh;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 75px;
    padding: 28px 32px;
    border-radius: 30px;
  }
}

/* intro text */
.panel #intro-txt {
  padding-bottom: 28px;
  margin-bottom: 28px;
  /* border-bottom: 1px solid yellow; */
}

.panel #intro-txt p {
  padding-bottom: 21px;
}

/* list of events  */
.panel #volume-index a {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  padding-top: 28px;
  border-bottom: 1px solid yellow;
}

/* sub pages
---------------------------------------------------- */

.volume-panel {
  position: relative;
  z-index: 10;
  margin-top: 75vh;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 75px;
  padding: 28px 32px;
  background-color: #EFEFEF;
  background: rgba(144, 121, 214, 0.90);
  border-radius: 30px;
}

.panel #volume-txt p {
  padding-bottom: 21px;
}

.panel #volume-txt li {
  margin-left: 30px;
}

/* canvas
---------------------------------------------------- */
canvas {
  cursor: help;
}


/* footer
---------------------------------------------------- */