@font-face {
  font-family: 'ginto-regular';
  src: url(../fonts/ABCGintoNord-Regular.woff);
}

@font-face {
  font-family: 'ginto-regular-it';
  src: url(../fonts/ABCGintoNord-RegularIta.woff);
}

@font-face {
  font-family: 'ginto-bold';
  src: url(../fonts/ABCGintoNord-Black.woff);
}

@font-face {
  font-family: 'ginto-bold-it';
  src: url(../fonts/ABCGintoNord-BlackIta.woff);
}
/* resetting
---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* transition: 0.3s */
}

/* base styles
---------------------------------------------------- */

body {
  background: rgba(144, 121, 214, 1);
}

body, h1, h2, h3, h4, p, span, a, li, ul {
  color: #FFFF00;
  font-family: 'ginto-regular', Times;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

/* typography
---------------------------------------------------- */

.type-l {
  font-family: 'ginto-bold', Helvetica;
  font-weight: 700;
  line-height: 64px;
  font-size: 60px;
}

.type-s {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
}

.type-center {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* header
---------------------------------------------------- */

.header {
  margin-top: 48px;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header h1, .header h2, .header a {
  color: rgba(144, 121, 214, 1);

}


/* sketch container
---------------------------------------------------- */

#sketch-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0; 
  top: 0;
  bottom: 0;
}

/* home page 
---------------------------------------------------- */

.home-panel {
  position: relative;
  z-index: 10;
  margin-top: 100vh;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 75px;
  padding: 28px 32px;
  background-color: #EFEFEF;
  background: rgba(144, 121, 214, 0.90);
  border-radius: 30px;

}

/* intro text */
.home-panel #intro-txt {
  padding-bottom: 28px;
  margin-bottom: 28px;
  /* border-bottom: 1px solid yellow; */
}

.home-panel #intro-txt p {
  padding-bottom: 21px;
}

/* list of events  */
.home-panel #volume-index a {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  padding-top: 28px;
  border-bottom: 1px solid yellow;
}

/* sub pages
---------------------------------------------------- */

.volume-panel {
  position: relative;
  z-index: 10;
  margin-top: 100vh;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 75px;
  padding: 28px 32px;
  background-color: #EFEFEF;
  background: rgba(144, 121, 214, 0.90);
  border-radius: 30px;
}

.volume-panel #volume-txt h2 {
  font-family: 'ginto-bold', Helvetica;
  text-align: center;
  margin-bottom: 28px;
  font-weight: 700;
  line-height: 64px;
  font-size: 60px;
}

.volume-panel #volume-txt p {
  padding-bottom: 21px;
}

.volume-panel #volume-txt li {
  margin-left: 30px;
}



/* footer
---------------------------------------------------- */



