* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #33f;
    color: #fefefe;
}

a {
    color: #fefefe;
}

.lettering {
    width: 300px;
    margin: auto;
    font-size: 0.75rem;
    word-wrap: break-word;
}