@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 100%;
}

body {
  background-color: #33f;
  color: #fefefe;
}

a {
  color: #fefefe;
}

.container-fluid {
  padding-top: 15px;
}

.lettering {
  overflow: visible;
  font-size: 2vw;
  line-height: 2vw;
  /* font-size: 0.75rem;
  line-height: 0.85rem; */
  word-wrap: break-word;
}

h1,
h2,
p {
  font-size: 0.75rem;
  line-height: 0.85rem;
}